
body{
   background-color: #E5E5E5;
   font-family: 'Inter';
}

header{
   width: 100%;
}

.logo{
    margin: 25px 25px;
}

.boxes{
    width: 100%;
    display: flex;
    vertical-align: top;
    justify-content: center;
    flex-wrap: wrap;
}



textarea{
    resize: none;
    border: none;
    font-family: 'Inter';
    color: #0A3871;
    font-size: 32px;
    overflow: auto;
    outline: none;
    overflow: hidden;
}



.box-salida{
    width: 350px;
    height: 450px;
    margin: 15px 15px;
    border-radius: 32px;
    padding: 20px 10px;
    background-color: #FFFFFF ;
}

#texto-entrada{
    width: 80%;
    height: 400px;
    margin: 15px 20px;
    padding: 15px 35px;
    background-color: #E5E5E5 ;
}

#texto-salida{
    width: 323px;
    height: 360px;
    border-radius: 32px;
    padding: 20px 10px;  
    display: none;  
}

.muñeco{
   width: 60%;
   margin: 40px 70px 15px ;
   
}

.textointerno{
    font-style: normal;
    font-weight: 700;   
    font-family: 'Inter';
    font-size: 24px;
    text-align: center;
    color: #343A40;
}

.textointerno2{
    margin-top: 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #343A40;
}


.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


#items-salida{
    visibility: visible;
}

.btn-copy{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    visibility: hidden;
    height: 450px;

}

.center{
    display: flex;
    justify-content: center;
}


.copyestilo{
    width: 250px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    border: solid 1px;
    border-color: #0A3871;
    color: #0A3871;
    background: #D8DFE8;
}

.botones input{
    margin: 0 25px;
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
}



.encripta-btn{
    font-size: 16px;
    color: #FFFFFF;
    background: #0A3871;
    border: none;
}

.encripta-btn:hover{
    background: #266bc0;
    transition: 0.5s;
}


.desencripta-btn{
    font-size: 16px;
    border: solid 1px;
    border-color: #0A3871;
    color: #0A3871;
    background: #D8DFE8;
}
